body {
    background-color: #450edd42;
}
    
    
.logo {
    background-color: rgba(204, 15, 15, 0.932);
    text-align: center;
    height: 10%;
    width: 56%;
    padding: 20px 20px;
    margin-left: 35%;
    } 
.map {
    background-color: white;
    height: 900px;
    width: 750px;
    text-align: center;
    margin-left: 35%;
    padding-top: 10px;
}
.map img {
    margin-top: 5%;
    margin-left: -50%;
    width: 40%;
}
.jan {
    margin-left: 39%;
    margin-top: -28%;
    }
.opera img {
    margin-top: -190%;
    margin-left: 38%;
    width: 24%;
}
.house{
margin-left: 65%;
margin-top: -16%;
}
.Google{
    margin-top: -34%;
}
.nov img{
     margin-left: 38%; 
}
.norway{
    margin-top: 4%;
}
